.input-group{
    position: relative;
}
.input{
    padding: 15px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: rgb(0, 0, 0);
    background-color: transparent;
    outline: 2px solid rgb(197, 197, 197);

}
.input-label {
position: absolute;
top: 0; 
Left: 0;
transform: translate(10px, 10px); 
transition: transform .25s;
 }
    
    .input:focus+.input-label, 
    .input:valid+.input-label {
    transform: translate(9px, -14px) scale(.8);
    color: #050407;
    padding-inline: 5px;
    background-color: #ffffff;
    
    }
    
     .input:is(:focus, :valid) {
         outline-color: #cdc7c7;
    
    }